.d-flex{
    display: flex;
}
.flex-direction-row{
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-around{
    justify-content: space-around;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

.flex1{
    flex: 1;
}

.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}

.bold{
    font-weight: bold;
}

.btn-menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(94, 93, 93);
}

.rounding{
    border-radius: 50%;
}

.sidebar-menu{
    padding: 10px;
    cursor: pointer;
}

.none-text-decoration{
	text-decoration: none;
}

.active{
    background-color: #007bff;
}

.margin-left-right-5{
    margin: 0 5px;
}

.margin-right-5{
    margin-right: 5px;
} 

.btn-normal{
    padding: 8px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 1px solid rgb(94, 93, 93);
    border-radius: 5px;
}

.size20{
    font-size: 20px;
}

.btn-primary{
    background-color: rgb(74, 149, 248);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.btn-primary:hover{
    background-color: #004fa3;
}

.border-right{
    border-right: 1px solid rgba(58, 58, 58, 0.151);
}
.gap {
  gap: 12px;
}



