/* icon header left  */
.icon-application {
	mask-image: url('/assets/icons/ICON_system.svg');
	mask-repeat: no-repeat;
	mask-position: -1px -1px;
	background-color: black;
	width: 17px;
	height: 18px;
}

.icon-lookup {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -1px -658px;
	background-color: rgb(94, 93, 93);
	width: 17px;
	height: 16px;
}


/* icon header right  */
.icon-web-mouse {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: 0 -608px;
	background-color: rgb(94, 93, 93);
	width: 21px;
	height: 21px;
	margin-right: 5px;
}

.icon-speaker {
	mask-image: url('/assets/icons/icon_speaker.svg');
	mask-repeat: no-repeat;
	mask-position: -2px -3px;
	background-color: rgb(94, 93, 93);
	width: 20px;
	height: 18px;
}

.icon-logo{
	background: url('/assets/icons/logo.svg') no-repeat 0 0;
	background-size: 70%;
	width: 48px;
	height: 48px;
	margin: 12px 0 0 20px;
}

.icon-store{
	background: url('/assets/icons/icon_store.svg') no-repeat 0 0;
	width: 20px;
	height: 20px;
}

.icon-mess{
	background: url('/assets/icons/icon_mess.svg') no-repeat -2px -2px;
	width: 20px;
	height: 20px;
}

.icon-notification {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -2px -634px;
	background-color: rgb(94, 93, 93);
	width: 20px;
	height: 21px;
}

.icon-more {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -50px -610px;
	background-color: rgb(94, 93, 93);
	width: 20px;
	height: 20px;
}

.icon-knowledge{
	background: url('/assets/icons/icon_knowledge.svg') no-repeat -2px 0;
	width: 20px;
	height: 22px;
}

.icon-users{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}


/* icon main content  */
.icon-filter{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -42px -658px;
	background-color: rgb(94, 93, 93);
	width: 16px;
	height: 16px;
}
.icon-export{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -62px -658px;
	background-color: rgb(94, 93, 93);
	width: 16px;
	height: 16px;
}
.icon-view{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -4px -849px;
	background-color: rgb(94, 93, 93);
	width: 17px;
	height: 15px;
}
.icon-settings{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -102px -678px;
	background-color: rgb(94, 93, 93);
	width: 16px;
	height: 16px;

}

.icon-down{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -35px -807px;
	background-color: #fff;
	width: 13px;
	height: 7px;
}

.icon-tick{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -196px -1036px;
	background-color: green;
	width: 18px;
	height: 13px;
}

.icon-add{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -196px -116px;
	background-color: #fff;
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
/* icon side bar  */
.icon-clipboard-list {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -98px -114px;
	background-color: #fff;
	width: 20px;
	height: 20px;
}

.icon-user {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -26px -114px;
	background-color: #fff;
	width: 20px;
	height: 19px;
}

.icon-calendar-alt {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -146px -114px;
	background-color: #fff;
	width: 20px;
	height: 20px;
}

.icon-puzzle-piece {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -2px -114px;
	background-color: #fff;
	width: 20px;
	height: 20px;
}

.icon-resources {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -73px -633px;
	background-color: #fff;
	width: 22px;
	height: 21px;
}

.icon-check-square {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -338px -113px;
	background-color: #fff;
	width: 20px;
	height: 21px;
}

.icon-marketing {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -262px -660px;
	background-color: #fff;
	width: 16px;
	height: 13px;
}

.icon-comment-dots {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -75px -847px;
	background-color: #fff;
	width: 18px;
	height: 18px;
}

.icon-chart-bar {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -73px -114px;
	background-color: #fff;
	width: 21px;
	height: 20px;
}

.icon-three-dots {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -362px -624px;
	background-color: #fff;
	width: 16px;
	height: 4px;
}

.icon-collapse {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -66px -700px;
	background-color: #fff;
	width: 7px;
	height: 12px;
}
 /* icon phân trang  */
.icon-left {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -66px -700px;
	background-color: #040404;
	width: 7px;
	height: 12px;
}
.icon-right {
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -46px -700px;
	background-color: #040404;
	width: 8px;
	height: 12px;
}

/* Form add  */
.icon-add-blue{
	mask-image: url('/assets/icons/ICON.svg');
	mask-repeat: no-repeat;
	mask-position: -196px -116px;
	background-color: #2708ed;
	width: 15px;
	height: 15px;
}